<html ng-app=quantidadesOLX>
<head>


	<title> ibSYM - Cognitive Stock Model API</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
	<style type="text/css">
		.jumbotron{
			width: 600px;
			margin-left: auto;
			margin-right: auto;
			margin-top:20px;
			text-align: center;
			padding: 10px;

		}
		.table{ 
			margin-top:20px;
			background-color: light-blue;
		}
		.form-control{
			margin-bottom: 4px;

		}
		.selecionado{
						background-color: #DDDDDD;
		}

	</style>
	<script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"> </script>
	<script> 
		angular.module("quantidadesOLX", []);
		angular.module("quantidadesOLX").controller("exibir-titulo",function($scope){
			
			// TITULO E VERSAO DO PROGRAMA #############
			$scope.titulo = "ibSYM - Cognitive Stock Model API ® 1.3"
			
			$scope.veiculos_array = [
					{quantidade: "VALE5", vencimento: "19,12", valor:"18,00"},
					{quantidade:"USIM5",vencimento:"4.80",  valor:"4,32"},
					{quantidade: "PETR	4", vencimento: "18.82",  valor:"17.21"}
			];

			$scope.montadoras= [
					{nome:"VALE5", pais: "ACOES", categoria:"veiculos"},
					{nome:"PETR4", pais: "ACOES", categoria:"veiculos"},
					{nome:"CSNA3", pais: "ACOES", categoria:"veiculos"},
					{nome:"GOAU4", pais: "ACOES", categoria:"veiculos"},
					{nome:"GGBR4", pais: "ACOES", categoria:"veiculos"},
					{nome:"GOLL4", pais: "ACOES", categoria:"veiculos"},
					{nome:"USIM5", pais: "ACOES", categoria:"veiculos"},
					{nome:"VALEW46", pais: "OPCOES", categoria:"veiculos"},
					{nome:"VALEW22", pais: "OPCOES", categoria:"veiculos"},
					{nome:"Tesouro Direto", pais: "DERIVATIVOS", categoria:"veiculos"},
					{nome:"Renda Fixa", pais: "DERIVATIVOS", categoria:"veiculos"},
					{nome:"", pais: "DERIVATIVOS", categoria:"veiculos"},
			];

			//funcao chamada dentro do ng-click do button CADASTRAR
			$scope.adicionarVeiculo = function(veiculo){
				//console.log($scope.quantidade+$scope.vencimento+$scope.valor);
				$scope.veiculos_array.push(angular.copy(veiculo));
				//faz a magica de apagar os input box, pois mata o $scope.veiculo do object model que ta amarrado aos input box.
				delete $scope.veiculo;
			};

			//funcao chamada dentro do ng-click do button EXCLUIR
			$scope.excluirVeiculo = function(veiculos){
				//console.log(veiculos);
				$scope.veiculos_array = veiculos.filter(function(veiculo){
					if (!veiculo.selecionado) return veiculo;
						console.log(veiculo);
				});

			};


			$scope.classe = 'selecionado';

		});

	</script>


   <script>
   var app = angular.module('myApp', []);
   app.controller('myCtrl', function($scope, $http) {
	   $http.get("index.html")
	   .then(function(response) {
		   $scope.myWelcome = response.data;
	   });
   });
   </script>



</head>



<body ng-controller="exibir-titulo">
	<div class="jumbotron" > 
		<h3> {{titulo}} </h3>

<!--// DEBUG HEHEHEH 
{{veiculos_array}} -->



<p>Today's welcome message is:</p>
<h1>{{myWelcome}}</h1>

	
	<table class='table'>
		<tr> 
			<th> </th>
			<th> Ação </th>
			<th> Abertura </th>
			<th> Min </th>
			<th> Max </th>
			<th> Volume </th>
		</tr>
	 



	 <!-- so poe a classe selecionado quando veiculo.selecionado igual a true -->
			<tr ng-class="{selecionado: veiculo.selecionado }" ng-repeat="veiculo in veiculos_array">
				<!-- <td ng-repeat="(key,value) in veiculos">
				{{ key + " - " + value}}
			</td> -->
			<td> <input type="checkbox" ng-model='veiculo.selecionado'/></td>
			<td>{{veiculo.quantidade}} </td>
			<td>{{veiculo.vencimento}} </td>
			<td>{{veiculo.valor}}</td>
			<td>{{veiculo.montadora.nome}}</td>
			<td>{{veiculo.montadora.pais}}</td>

		</tr>
	</table>
 	<hr> 
 	{{veiculo}}
	<input class="form-control" type="number" min="100" max="500000" step="100" ng-model="veiculo.quantidade" placeholder="Quantidade">
	<input class="form-control" type="number" min="0.01" step=".01" ng-model="veiculo.valor" placeholder="Valor">
	<input class="form-control" type="date" ng-model="veiculo.vencimento" placeholder="Vencimento">
	<select class="form-control" ng-model='veiculo.montadora' ng-options='montadora.nome group by montadora.pais for montadora in montadoras'>
		<option value=''> Selecione um ativo </option> 	
	</select>
	<button class="btn btn-success btn-block" ng-click="adicionarVeiculo(veiculo)" ng-disabled="! veiculo.quantidade || ! veiculo.vencimento || ! veiculo.valor"> Comprar 
	<button class="btn btn-danger btn-block" ng-click="excluirVeiculo(veiculos_array)"> VENDER 
	</button>
	

	</div>
</body>
</html>
