<html ng-app=ibSYM>
<head>
	<title> ibSYM - Cognitive Stock Model API</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
	<style type="text/css">
		.jumbotron{
			width: 600px;
			margin-left: auto;
			margin-right: auto;
			margin-top:20px;
			text-align: center;
			padding: 10px;
		}
		.carteira{
		    background:#ffffff;
		}		

		.cotacoes{
			font-size:small;
		}		
		.table{ 
			margin-top:20px;
			background-color: light-blue;
		}
		.form-control{
			margin-bottom: 4px;
		}
		.selecionado{
						background-color: #DDDDDD;
		}
	</style>
<!--	<script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"> </script> -->
  <script id="angularScript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script> 
		angular.module("ibSYM", []);
		angular.module("ibSYM").controller("exibir-titulo",function($scope,$http){
			
			// TITULO E VERSAO DO PROGRAMA #############
			$scope.titulo = "ibSYM Cognitive Stock API ® v.1.3"

			$scope.cotacoes_array = [];
	
			$scope.carteira_array = [
					{nome: "VALE5", quantidade: "500", total: "10300", valor:"20.60", "montadora":{"nome":"VALE5","valor":"8.10"}},
					{nome: "PETR4", quantidade: "900", total: "15570", valor:"17.30", "montadora":{"nome":"PETR4","valor":"8.10"}},
					{nome: "CSNA3", quantidade: "3200", total: "32320", valor:"10.10", "montadora":{"nome":"CSNA3","valor":"8.10"}},
					{nome: "VALEW46", quantidade: "3400", total: "1530", valor:"0.45", "montadora":{"nome":"VALEW46","valor":"8.10"}},
			];

			$scope.montadoras= [
					{nome:"VALE5", pais: "ACOES", categoria:"investimentos"},
					{nome:"PETR4", pais: "ACOES", categoria:"investimentos"},
					{nome:"CSNA3", pais: "ACOES", categoria:"investimentos"},
					{nome:"GOAU4", pais: "ACOES", categoria:"investimentos"},
					{nome:"GGBR4", pais: "ACOES", categoria:"investimentos"},
					{nome:"GOLL4", pais: "ACOES", categoria:"investimentos"},
					{nome:"USIM5", pais: "ACOES", categoria:"investimentos"},
					{nome:"VALEW46", pais: "OPCOES", categoria:"investimentos"},
					{nome:"VALEW22", pais: "OPCOES", categoria:"investimentos"},
					{nome:"Tesouro Direto", pais: "DERIVATIVOS", categoria:"investimentos"},
					{nome:"Renda Fixa", pais: "DERIVATIVOS", categoria:"investimentos"},
					{nome:"", pais: "DERIVATIVOS", categoria:"investimentos"},
			];

			//funcao chamada dentro do ng-click do button CADASTRAR
			$scope.ordemCompra = function(papel){
				//console.log($scope.quantidade+$scope.vencimento+$scope.valor);
				//fazendo a soma do total na chegada dos dados da view.
				papel.total = papel.valor * papel.quantidade;
				
				var data = { 
					id_corretora: '13',
					id_cliente: '27',
					ativo: 'VALE5',
					quantidade: '1000',
					valor: '1000',
					token: '1234abcd' 
				};

				ssvar config = {headers :{'Content-Type':'application/x-www-form-urlencoded'}}
				

				$http({
				    url: 'http://189.55.194.115:3000/comprar',
				    method: 'POST',
				    headers: { 'Content-Type': 'application/x-www-form-urlencoded;' },
				    data: {id_cliente: '27',ativo: 'VALE5', quantidade: '1000', valor: '1000', token: '1234abcd'}
				}).then(function (results){
					console.log(results);
				});			


				$scope.carteira_array.push(angular.copy(papel));
				//faz a magica de apagar os input box, pois mata o $scope.veiculo do object model que ta amarrado aos input box.
				delete $scope.papel;
			};

			//funcao chamada dentro do ng-click do button EXCLUIR
			$scope.excluirVeiculo = function(veiculos){
				//console.log(veiculos);
				$scope.carteira_array = veiculos.filter(function(papel){
					if (!papel.selecionado) return papel;
						//aqui foi realizada a venda.
						console.log(papel);
				});
			};
			$scope.classe = 'selecionado';
		});

	</script>


   <script>
   angular.module('ibSYM').controller('exibir-total', function($scope, $http,$interval) {
	    load_total();
		$interval(function(){
			load_total();
		},1000);
		
			function load_total(){
				$http.get('http://189.55.194.115:3000/total').then(function(response){
					$scope.totalnegociado = response.data;
			});
	   };
   });
   </script>


   <script>
   angular.module('ibSYM').controller('exibir-cotacoes', function($scope, $http, $interval) {
	 load_cotacoes();
		$interval(function(){
			load_cotacoes();
		},100);
		
			function load_cotacoes(){
				$http.get('http://189.55.194.115:3000/listar').then(function(response){
					$scope.cotacoes_array = response.data;
			});
	   };
   });
   </script>
</head>

<body ng-controller="exibir-titulo">
	<div class="jumbotron jumbotron-fluid" >
			<h3> {{titulo}} </h3>
			<div class='container'> 
				<table magin-left='100px' class='table' ng-controller="exibir-total">
						 <tr>
					  	<td>Volume </td>
					  	<td> </td>
						<td text-align='right'>Total negociado: {{totalnegociado}}</td>
					</tr>
				</table>
			</div>

			<div class='cotacoes container' ng-controller='exibir-cotacoes'>
			<h4> Cotações Real Time </h4>
				<table class='table table-striped' ng-controller='exibir-cotacoes'>
				<tr>
					<th> Ativo</th>
					<th> Valor</th>
					<th> Min </th>
					<th> Max </th>
					<th> Volume</th>
				</tr>

				<tr ng-repeat="ativo in cotacoes_array">
					<td> {{ativo.nome}}	</td>
					<td > {{ativo.valor | currency:''}} </td>
					<td> {{ativo.min}}	</td>
					<td> {{ativo.max}}	</td>
					<td> {{ativo.volume/1000000 | number:'2'}}M	</td>

				</tr>
				</table>
			</div>

			<div class='carteira'> 
<!--			{{carteira_array}} -->
			   <h4> Carteira de Investimentos </h4>
			   <table class='table'>
				   <tr>
					  <th> </th>
					  <th> Ação </th>
					  <th> Quantidade </th>
					  <th> Valor </th>
					  <th> Total </th>
				  </tr>
				 <!-- so poe a classe selecionado quando veiculo.selecionado igual a true -->
				 <tr ng-class="{selecionado: papel.selecionado }" ng-repeat="papel in carteira_array">
				 <!-- <td ng-repeat="(key,value) in veiculos">
				 {{ key + " - " + value}}
				 </td> -->
					 <td> <input type="checkbox" ng-model='papel.selecionado'/></td>
					 <td>{{papel.montadora.nome}}</td>
					 <td>{{papel.quantidade}} </td>
					 <td>{{papel.valor}}</td>
					 <td>{{papel.total | currency:'R$ '}}</td>
					 <td></td>
				 </tr>
			   </table>
			</div>

	   		<hr>
		   {{papel}}
	   		<select class="form-control" ng-model='papel.montadora' ng-options='montadora.nome group by montadora.pais for montadora in montadoras'>
		   		<option value=''> Selecione um ativo </option>
			</select>
	     	<input class="form-control" type="number" min="100" max="500000" step="100" ng-model="papel.quantidade" placeholder="Quantidade">
	   		<input class="form-control" type="number" min="0.01" step=".01" ng-model="papel.valor" placeholder="Valor">
	   		<input class="form-control" type="password" ng-model="papel.assinatura" placeholder="Assinatura">
			<button class="btn btn-success btn-block" ng-click="ordemCompra(papel)" ng-disabled="! papel.quantidade || ! papel.assinatura || ! papel.valor || papel.montadora == null"> Comprar
		<button class="btn btn-danger btn-block" ng-click="excluirVeiculo(carteira_array)"> Vender
			</button>
	</div>
</body>
</html>
