[Unit]
After=network.service
Description= CDSHELL - AutoUpdate

[Service]
ExecStart=/usr/bin/node cdshelld.js 1.1.1 >> /tmp/cdshell.log
WorkingDirectory=/root/shell/push
Restart=always
#Restart=on-failure
RestartSec=500ms
StartLimitInterval=15s
StartLimitBurst=1

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cdshell
User=root
Group=wheel
Environment=NODE_ENV=production PORT=3000 NODE_MODULES=/lib/node_modules

[Install]
WantedBy=multi-user.target
